
*{
    margin: 0;
    padding: 0;
}

h1{
    background-color: green;
    text-align: center;
}

nav{
    background-color:black;
    text-align:center;
    

}

nav > a {
   color:white;
}
main > img {
    margin:auto;
}

footer {
    background-color: black;
    text-align: center;
    color:white;
    
}

section{
    padding: 15px;
    background-color: rgb(221, 215, 215);
    margin:20px;
    border: 1px solid black;
    border-radius: 20px;

}
  nav > a:hover {
    background-color: #ddd;
    color: black;
}

.fotos a img{
    color: #4CAF50;
    font-size: 24px;
    border: 2px solid #4CAF50;
    padding-bottom: 20px;
    

}
