/* Para telas móveis */
@media (max-width: 480px) {
    body {
        display: flex;
        flex-direction: column;
    }

    header, footer {
        text-align: center;
    }

    
    main {
        width: 100%;
    }


    
}

/* Tablet e outros ajustes */
@media (min-width: 481px) and (max-width: 767px) {
    body {
        grid-template-columns: 1fr;
    }

    header, footer {
        text-align: center;
    }

    main {
        width: 100%;
    }

    
}

/* Outros estilos para telas maiores permanecem iguais... */

/* tablet*/
@media (min-width: 768px) and (max-width: 1024px) {
    body {
      grid-template-columns: 1fr 2fr;
    }
  
    header, footer {
      grid-column: 1 / -1;
    }
    
    nav {
      display: block; /* Mostrar sidebar em tablets */
    }
  }

/*pc */
@media (min-width: 1025px) and (max-width: 1440px) {
  body {
    grid-template-columns: 1fr 3fr;
    gap: 20px;
  }

  nav {
    display: block;
  }
}

/* 4k */
@media (min-width: 1441px) {
    body {
      grid-template-columns: 1fr 4fr;
      max-width: 1920px;
      margin: 0 auto;
    }
  
    nav, main {
      padding: 20px;
    }
  }
  